<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course List</title>
</head>
<body>
<h2>Courses You Are Teaching</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Level</th>
        <th>Description</th>
        <th>Certificate Type</th>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.title}"></td>
        <td th:text="${course.level}"></td>
        <td th:text="${course.description}"></td>
        <td th:text="${course.certificateType}"></td>
    </tr>
</table>
</body>
</html>