<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule List</title>
</head>
<body>
<h2>Your Teaching Schedule</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Mode</th>
        <th>Location</th>
        <th>Course Title</th>
    </tr>
    <tr th:each="schedule : ${schedules}">
        <td th:text="${schedule.title}"></td>
        <td th:text="${schedule.startTime}"></td>
        <td th:text="${schedule.endTime}"></td>
        <td th:text="${schedule.mode}"></td>
        <td th:text="${schedule.location}"></td>
        <td th:text="${schedule.course.title}"></td>
    </tr>
</table>
</body>
</html>