<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome to JCertPre</title>
  <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <div class="container text-center mt-5">
    <h1 class="text-primary">Welcome to JCertPre</h1>
    <p class="lead">Start your JLPT/NAT Test Simulation</p>
    <a th:href="@{/exam/simulation}" class="btn btn-success btn-lg mt-3">Start Exam</a>
  </div>

  <script th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/examsimulation.js}"></script>
</body>
</html>
